@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$dark_1: #121212;
$color_btn: #E4C1AE;
$color_bcg: #FFFFFF;
$color_btn_hover: #AD6B40;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px auto 0;
  background: $color_bcg;
}
  
  .hero_image {
    width: 505px;
    height: 330px;
    background-size: cover;

    background-image: url("../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg");

}

.content {
    width: 380px;
    margin-left: 95px;
}

.title {
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: $dark_1; 
}


  .text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    
    color: $dark_1;
  }
  
.button {
width: 128px;
height: 48px;
margin-top:32px;
background: $color_btn;
border-radius: 32px;
border: none;

//Text style
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
color: $color_bcg;

&:hover {
  cursor: pointer;
  background-color: $color_btn_hover;
}

}

// responsiveness
@media screen and (max-width: 980px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

  }

  .content {
    margin-top: 50px;
    margin-left: 0px;
    display: grid;
  }

  .text1 {
    text-align: center;
  }

  .button {
    margin: 32px auto;
  }

  .title {
    text-align: center;
  }
}

.popup_background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.popup {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 210px;
  width: calc(100% - 50px);
  max-width: 920px;
  background-color: $color_bcg;
  //background-color: rgba(0,0,0,0.4);
}

.popup_title {
  position: absolute;
  width: 380px;
  height: 50px;
  padding-left: 10%;
  padding-bottom: 24px;
  top: 56px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: $dark_1;
}

.popup_content {
  position: absolute;
  width: 380px;
  height: 24px;
  margin-left: 10%;
  top: calc(50% - 24px/2 + 37px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $dark_1;
}

.button_reset {
  background-color: $color_bcg;
  color: $dark_1;
  border: 2px solid $color_btn;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin-right: 15%;
  float: right;
}

.button_reset:hover {background-color: $color_btn;}

.close_icon {
  position: absolute;
  top: calc(46px - 10px);
  right: calc(46px - 10px);
  padding: 10px;
  cursor: pointer;

}

.cross {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}