@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$dark_1: #121212;
$color_btn: #E4C1AE;
$color_bcg: #FFFFFF;
$color_btn_hover: #AD6B40;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px auto 0;
  background: $color_bcg;
}
  
  .hero_image {
    width: 505px;
    height: 330px;
    background-size: cover;

    background-image: url("../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg");

}

.content {
    width: 380px;
    margin-left: 95px;
}

.title {
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: $dark_1; 
}


  .text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    
    color: $dark_1;
  }
  
.button {
width: 128px;
height: 48px;
margin-top:32px;
background: $color_btn;
border-radius: 32px;
border: none;

//Text style
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
color: $color_bcg;

&:hover {
  cursor: pointer;
  background-color: $color_btn_hover;
}

}

// responsiveness
@media screen and (max-width: 980px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

  }

  .content {
    margin-top: 50px;
    margin-left: 0px;
    display: grid;
  }

  .text1 {
    text-align: center;
  }

  .button {
    margin: 32px auto;
  }

  .title {
    text-align: center;
  }
}


.container_popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $color_bcg;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.popup {
  position: relative;
  height: 210px;
  width: calc(100% - 50px);
  max-width: 920px;
  background-color: $color_bcg;
}

.close_icon {
  position: absolute;
  top: calc(46px - 10px);
  right: calc(46px - 10px);
  padding: 10px;
  cursor: pointer;

}

.cross {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}